* {
    box-sizing: border-box;
}


body {
    font-family: Arial;
    margin: 0;
}


header {
    padding: 5px;
    text-align: right;
    background: #358bdb;
    color: #358bdb;
    height: 65px;
}


h2 {
    text-align: left;
    font-size: 22px;
    margin-right: 1450px;
}


#name {
    
    width: 200px;
  border: 3px solid red;
  padding: 20px;
  margin: -3px;
  background-color: red;
  height: 20px;
    text-align: start
}


.top {
    text-align: left;
    color: white;
    font-size:small;
    display: inline;
    padding: 10%;
    list-style: none;
    line-height: 30%;
    margin-top: 500px;
}


li {
    display: inline;
    list-style-type: none;
    padding-top: 30px;
    padding-right: 5px;
    text-align: left;
    text-decoration: underline;
  
    padding: 10px;
  font-size: large;
  
  
  height: 900px;
  
}



.blue img {
    width: 100%;
    position:relative;
    height: 300px;
    margin-top: 0px;
}


.blue .overlay {
    position:absolute;
    margin-top: -300px;
    right: 15px;
    font-weight: bold;
    text-align: left;
    font-size: 30px
}


.overlays {
    position:absolute;
    margin-top: -100px;
    left: 0px;
    font-weight: bold;
    text-align: right;
    font-size: 30px;
    color: red;
}



.para {
    text-align: left;
    text-size-adjust: 200px;
    margin-left: 100px;
}


#about {
    position: relative;
}


.line {
    border-left: 6px solid rgb(64, 64, 133);
    height: 200px;
    position: absolute;
    left: 15%;
    margin-left: -3px;
    top: 370px;
}


.por {
    text-align: left;
    text-size-adjust: 20px;
    margin-left: 300px;
    margin-right: 60px;
    text-align: start;
   margin-bottom: 50px;
   position: relative; bottom:60px;
}

.lane {
    border-left: 6px solid rgb(64, 64, 133);
    height: 1000px;
    position: absolute;
    left: 15%;
    margin-left: -3px;
    top: 705px; 
}



.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}
  
  /* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
}



.container {
    position: relative;
    flex: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  

.container {
    opacity: 0.5;
}


.container:hover {
    opacity: 1.0;
}


#reb {
    width: 1063px;
    border: 5px solid salmon;
    align-self: left;
    size: 1000px;
    margin-left: 180px;
    display: flex;
    order: 5;
    flex-direction: row;
    height: 500px;
    flex-wrap: wrap;
    margin-top: -50px;
    
    
}



  
#text-block1 {
    position: absolute;
    bottom: -450px;
    left: 5px;
    background-color: salmon;
    color: white;
    padding-left: 30px;
    padding-right: 20px;
    margin-left: 180px;
    margin-bottom: 460px;
}


.red {
    width: 400px;
    border: 5px solid salmon;
    align-self: left;
    size: 50px;
    margin-left: 390px;
    display: flex;
    order: 2;
    flex-direction: row;
    margin-bottom: 0px;
    flex-wrap: wrap;
    height: 200px;
    margin-left: 150px;
    
}


#text-block2 {
    position: absolute;
    bottom: 0px;
    left: 5px;
    background-color: salmon;
    color: white;
    padding-left: 30px;
    padding-right: 20px;
    margin-left: 180px;
    
   
}


#text-block3 {
    position: absolute;
    bottom: 0px;
    left: -96px;
    background-color: salmon;
    color: white;
    padding-left: 30px;
    padding-right: 20px;
    margin-left: 280px;
}


.real {
    width: 400px;
    border: 5px solid salmon;
    align-self: left;
    size: 50px;
    margin-left: 340px;
    display: flex;
    order: 2;
    flex-direction: row;
    margin-bottom: 0px;
    flex-wrap: wrap;
    height: 200px;
   
    top: 500px;
    margin-left: 150px;
}


#text-block4 {
    position: absolute;
    bottom: 0px;
    left: 5px;
    background-color: salmon;
    color: white;
    padding-left: 30px;
    padding-right: 20px;
    margin-left: 180px;
    margin-bottom: 20px;
}


#text-block5 {
    position: absolute;
    bottom: 0px;
    left: 5px;
    background-color: salmon;
    color: white;
    padding-left: 30px;
    padding-right: 20px;
    margin-left: 180px;
}


#contact {
    position: relative;
}



.lene {
    border-left: 6px solid rgb(64, 64, 133);
    height: 200px;
    position: absolute;
    left: 15%;
    margin-left: -3px;
    top: 2800px;
}


.mas {
    color: black;
    text-align: right;
    font-size: -30px;
    margin-right: 600px;
    text-align: left;
    margin-left: 300px;
    margin-right: 60px;
    text-align: start;
   margin-bottom: 50px;
   position: relative; 
   bottom:0px;
}


@media screen and (max-width: 1200px) {
    main {
        flex-direction: column;
        max-width: 1200px;
    }
}


@media screen and (max-width: 768px) {
    header,
    ul {
      flex-direction: column; 
    }

    section {
      padding-right: 0;
    }
  
    aside {
      width: 100%;
      text-align: center;
    }

    line{
       flex-direction: row;
    }

    main{
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
}














